/* Base styles */
body {
    font-family: "Arial", sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
}

.container {
    max-width: 600px;
    /* Adjust max-width for different device sizes */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for depth */
}

h1 {
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    flex: 1;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3333;
}

input[type="text"] {
    width: calc(100% - 20px);
    /* Adjust width to accommodate padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive styles */
@media only screen and (min-width: 600px) {

    /* Tablets, desktops, and laptops */
    .container {
        padding: 40px;
    }
}



